<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <div class="footer-basic py-5">
        <footer>
            <div class="social d-flex justify-content-center pb-3">
                <a href="#" class="mx-2"><i class="icon ion-social-instagram"></i></a>
                <a href="#" class="mx-2"><i class="icon ion-social-twitter"></i></a>
                <a href="#" class="mx-2"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline text-center mb-0">
                <li class="list-inline-item mx-2"><a href="#">Home</a></li>
                <li class="list-inline-item mx-2"><a href="#">Services</a></li>
                <li class="list-inline-item mx-2"><a href="#">About</a></li>
                <li class="list-inline-item mx-2"><a href="#">Terms</a></li>
                <li class="list-inline-item mx-2"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright text-center mt-3">Wink Store © 2024</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
</body>
</html>