
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgba(74, 69, 69, 0.906);
  }
  .form1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
  }

  h2 {
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
  }
  .form-input {
    font-size: 15px;
    padding: 5 10px;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  fieldset {
    margin: 20px;
    padding: 0 50px;
    border-radius: 5%;
    border: 3px solid;
    text-align: center;
  }
  
  .legend-registrate {
    font-size: 20px;
    padding: 2px;
  }
  
  input,
  textarea,
  select {
    width: 85%;
    border: none;
    border: 1px solid #756262;
    box-shadow: 0px 0px 15px #0003;
    background-color: rgba(237, 231, 231, 0.483);
    border-radius: 25px;
    color: #8fd8ca;
    cursor: pointer;
    text-align: center;
  }
  label {
    font-size: 0.99em;
    color: rgb(78, 3, 3);
    font-weight: 800;
  } 
  textarea {
    min-width: 100%;
    resize: none;
    min-height: 102px;
    font-family: sans-serif;
    font-size: content;
    cursor: pointer;
  }
  .checkbox {
    width: auto;
    height: 10px;
  }
  .btn {
    cursor: pointer;
  }