body h1 {
    background-color: rgb(238, 235, 200);
    margin: 35px;
    padding: 10px;
    border: 5px solid rgb(250, 114, 230);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

body h2 {
    font-weight: 100;
    color: rgb(214, 108, 108);
}

.textoAlineado {
    text-align: center;
}

#fondoColor {
    background-color: rgba(171, 68, 126, 0.981);
    margin: 05px;
    padding: 30px;
}

.fontStyle {
    font-style: normal;
    font-style: italic;
}